.whyusElement2{
    display:flex;
    width:300px;
    height:200px;
    height:140px;
    padding:5px;
  }
  .whyusElement2:hover{
    background-color: rgba(111, 192, 247, 0.979);
    transition:0.5s all ease-out;
  }
  .whyus_left2{
    height:130px;
  }
  .whyus_left2 h3{
    color:rgb(36, 36, 36);
    font-size: 18px;
    margin:10px 10px;
    font-weight: lighter;
  }
  .whyus_left2 p{
    color:rgb(65, 65, 65);
    font-size: 14px;
    margin:10px 10px;
    font-weight: lighter;
  
  }
  .whyus_right2{
    margin-top:5px;
    height:30%;
    height:130px;
    width:100px;
  
  }
  .iconContainer2{
    color:white
      
  }